<!DOCTYPE html>
<html>

<head>
	<title>Add Form Variants</title>

</head>

<body>
	<h1>Variant form</h1>

	<form th:action="@{/variant/save}" method="post" th:object="${variant}">
		
		<input type="hidden" name="id" th:field="*{id}">
		<table border="2">

			<tr>
				<td>Variant Initial</td>
				<td><input type="text" name="variantInitial" th:field="*{variantInitial}"></td>
			</tr>
			<tr>
				<td>Variant Name</td>
				<td><input type="text" name="variantName" th:field="*{variantName}"></td>
			</tr>
			<tr>
				<td>Category</td>
				<td>
					<select th:field="*{categoryId}">
						<option th:each="item:${listCategory}" th:value="${item.id}" th:text="${item.categoryName}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Is Active</td>
				<td><input type="checkbox" name="isActive" th:field="*{isActive}"></td>
			</tr>
			<tr>
				<!--value untuk memberi nama  -->
				<td colspan="2">
					<input type="submit" value="Save">
					</td>


			</tr>

		</table>
	</form>

	</body>

</html>